/*========================================================
                    CUSTOM STYLING
=========================================================*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body
{
  font-family: 'Quicksand', sans-serif !important;
}

        .btn
        {
            border-radius: 0 !important;
        }

.roles-form input[type=checkbox]
{
    transform: scale(1.6);
    margin-top: 3px;
    cursor: pointer;
}
.roles-form label{cursor: pointer;}
.min-height-500{min-height: 500px;}

/*========================================================
        TOASTR LAYOUT
=========================================================*/
#toast-container > div {
    opacity : 0.9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter : alpha(opacity=90);
    max-width : none;
  }

  #toast-container > div:hover {
    box-shadow : 2px 2px 10px 0 rgba(0, 0, 0, 0.75);
  }

  .toast {
    background-color : #7367F0;
    opacity: 1 !important;
  }

  .toast-success {
    background-color : #28C76F;
    opacity: 1 !important;
  }

  .toast-error {
    background-color : #EA5455;
  }



.color_code
{
  width: 100%;
  height: 22px;
}


.form-control
{
  border-radius: 0px !important;
}



.btn-social-icon,
.btn-social-icon:hover
{
  background-color: #35D745;
  color: #fff;
  border-radius: 20px !important;
  padding: 8px;
  font-weight: bold;
  font-size: 10px;
}

.btn-post
{
  width: 100% !important;
  background-color: #F0F2F5;
  font-size: 15px;
  padding: 10px 40px 10px 20px;
  border-radius: 20px;
  font-weight: 600;

}
.btn-post:hover
{

  background-color: #ddd;
  transition-duration: 0.3s;
}

.profile-avatar
{
  border-radius: 100px;
  width: 60px;
  height: 60px;
  border: 2px solid red;
}
.profile-avatar-small
{
  border-radius: 100px;
  width: 40px;
  height: 40px;
  border: 2px solid red;
}

.profile-avatar-extra-small
{
  border-radius: 100px;
  width: 30px !important;
  height: 30px !important;
  border: 2px solid red;
}


.profile-cover-avatar
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.account-counter small
{
  font-size: 7px;
  display: block;
}
.account-counter strong
{
  font-size: 12px;
}

.account-sidebar-links a
{
  display: block;
  padding: 7px;
  color: #aaa ;
  font-weight: bold;
}


.page-active
{
  color: #007BFF !important;
}



.cover-container
{
  position: relative;
}

.cover-heading-content
{
  position:absolute; bottom:6%; left: 5%; z-index:1;
}

.cover-notification-content
{
    position:absolute; top:6%; right: 5%; z-index:1;
}

.btn-notification,
.btn-notification:hover
{
  background-color: #008AFC;
  color: #fff;
  border-radius: 20px !important;
  padding: 8px;
  font-weight: bold;
  font-size: 10px;

}


.news-feed-links a
{
  padding: 10px;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.groups-connection-card
{
  text-align: center;
}

.groups-connection-card small
{
  font-size: 9px;
  font-weight: bold;
  display: block;
}

.post-actions a
{
  font-weight: bold;
}


.user-nav
{
  background-color: #E7F3FF;
  border-radius: 20px;
  font-size: 13px;
}
.user-nav .user-nav-inner
{
  padding: 2px 5px;
  font-weight: bold;
  cursor: pointer;
  color: #008AFC;
}



.mobile-sidebar
{
  display: none;
  position: absolute;
}

.app-content
{
  padding-top: 5vw !important;
}

@media (max-width: 1199px)
{
  .mobile-sidebar
  {
    display: block;
  position: absolute;
  }
}


.site-logo img
{
  width: 120px;
}


.main-nav-links li
{
  padding: 0px 10px;
}

.active-menu,
.active-menu *
{
  color: #008AFC !important;
}





.post-registration label {
    font-weight: bold;
    color: #67BD43;
}


.post-registration .form-control {
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 5px !important;
}

.post-registration .form-control:focus {
    box-shadow: none;
    border: 2px solid #000;
}


.post-registration .confirm-button {
    height: 50px;
    border-radius: 10px !important;
    font-weight: bold;
    float: right;
}


.tagsinput,.tagsinput *{box-sizing:border-box}
.tagsinput
{
  display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;
  display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;
  flex-wrap:wrap;
  background:#fff;
  font-family:sans-serif;
  font-size:14px;
  line-height:20px;
  color:#556270;
  border-radius:5px
}
.tagsinput.focus{border-color:#ccc}
.tagsinput .tag{position:relative;background:#556270;display:block;max-width:100%;word-wrap:break-word;color:#fff;padding:5px 30px 5px 5px;border-radius:2px;margin:0 5px 5px 0}
.tagsinput .tag .tag-remove{position:absolute;background:0 0;display:block;width:30px;height:30px;top:0;right:0;cursor:pointer;text-decoration:none;text-align:center;color:#ff6b6b;line-height:30px;padding:0;border:0}
.tagsinput .tag .tag-remove:after,.tagsinput .tag .tag-remove:before{background:#ff6b6b;position:absolute;display:block;width:10px;height:2px;top:14px;left:10px;content:''}
.tagsinput .tag .tag-remove:before{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.tagsinput .tag .tag-remove:after{-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
.tagsinput div{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.tagsinput div input{
    height: 48px;
    border: 2px solid #eee;
    padding-left: 10px;
    border-radius: 5px !important; width: 100%;}
.tagsinput div input.error{color:#ff6b6b}
.tagsinput div input::-ms-clear{display:none}
.tagsinput div input::-webkit-input-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input::-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-ms-input-placeholder{color:#ccc;opacity:1}



.navbar-nav small
{
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.navbar-nav .feather
{
  font-size: 15px !important;
}





.selectTheme
{
  width: 100%;

    box-shadow : 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    padding: 20px;
    cursor: pointer;
}

.selectTheme input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(3);
}

.service-thumbnail
{
  height: 250px;
  width: 100%;
  object-fit: cover;
}


.remove-image-box,
.remove-file-box
{
  background-color: #DC3545;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-view-file
{
  display: block;
  margin-bottom: 10px;
  padding: 15px 10px;
  font-size: 17px;
  font-weight: bold;
}



.appointment-table th,
.appointment-table td
{
  font-size: 16px !important;
}


.bookings-section .nav-link
{
  font-size: 14px !important;
  font-weight: bold !important;
}


 .ck-editor__editable
{
 min-height: 15vw !important;
}
.ck-file-dialog-button
{
    display: none;
}



.bg-animated {
  animation: changeBackgroundColor 3s infinite;
  color: #fff;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #FF9F43;
  }
  25% {
    background-color: #772911;
  }
  50% {
    background-color: #FF9F43;
  }

  75% {
    background-color: #772911;
  }

  100% {
    background-color: #FF9F43;
  }
}


.navigation-header span
{
  color: #1DBF73 !important;
  font-weight:900 !important;
}


        .modal-body .showable-img #output{
            width: 100%;
            height: 220px;
            object-fit: cover;
            border: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 5px;

        }
        .showable-img{
            width: 100%;
            height: 220px;
            object-fit: cover;
            border: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 5px;
        }
        .video-preview{
            width: 100%;
            height: 200px;
            padding: 0;
        }
        .btn-row{
            border-radius: 4px;
            padding-top: 40px;

        }
        .modal-title{
            text-align: center;
        }
        .dropdown-toggle::after {
            border: none !important;
            content: '\e842' !important;
            position: absolute;
        }
        .comments-div.comment-input{
            border-radius: 7px;
        }
        .fa-caret-right{
            font-size: 20px;
        }
        .caption_textarea{
            resize: none;
            overflow: auto;
            border: white;
            line-height: 10px;
        }

        .caption_textarea:focus
        {
          box-shadow: none;
        }

        .profile-avatar-small1 {
            border-radius: 100px;
            width: 29px;
            height: 28px;
            border: 2px solid red;
        }
        .html body p {
            line-height: 0.5rem;
        }


    .social-search-box input,
    .social-search-box input:focus
    {
      /*border-radius: 40px !important;*/
      outline: none !important;
      box-shadow: none !important;
      border-color: #ccc;
      height: 40px;
      font-weight: 600;
    }

    .social-search-box button {
    border-radius: 0px 40px 40px 0px !important;
    background-color: #ECECEC !important;
    color: #000;
    border: 0px;
    padding-left: 15px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-left: 0;
}

.dropdown-notification .icon-bell
{
  font-size: 22px !important;
}


.btn-update-cover
{
  position: absolute;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 5px !important;
  border: 0px;
  cursor: pointer;
  padding: 8px 17px;
  z-index: 99;
  right: 10px;
  top: 10px;
}



.page-loader
{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 1);
  /*opacity: .6;*/
  filter: alpha(opacity=30);
  -moz-opacity: .3;
   z-index: 99999;
}


.loader {
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #528155;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position:absolute;
  top: calc(50vh - (/* height */100px / 2));
    left: calc(50vw - (/* width */140px / 2));
  z-index: 999999;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.save-post,
.save-post:hover
{
  background-color: #66BD42;
  color: #fff;
  border-radius: 5px !important;
  font-size: 20px;
  font-weight: 600;
  padding: 7px;
  border: 0;
  margin-top: 15px;
}
.chat-float{
    position:fixed;
    display:inline-block;
    width:60px;
    height:60px;
    color: #fff;
    line-height:60px;
    bottom:30px;
    right:30px;
    background-color: #0631e0;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
    line-height: 50px;
}

.chat-float i
{
  color: #fff;
}

#append-username ul
{
  position: absolute !important;
  width: auto;
  max-height:400px;
  overflow: auto;
  border-radius: 0 !important;
  width: 50%;
}


#append-username ul li
{
  border-radius: 0;
  font-weight: bold;
  cursor: pointer;
}

/* width */
#append-username ul::-webkit-scrollbar {
  width: 7px;
}

/* Track */
#append-username ul::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
#append-username ul::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#append-username ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}


        .modal-body .showable-img #output{
            width: 100%;
            height: 220px;
            object-fit: cover;
            border: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 5px;

        }
        .showable-img{
            width: 100%;
            height: 220px;
            object-fit: cover;
            border: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 5px;
        }
        .video-preview{
            width: 100%;
            height: 200px;
            padding: 0;
        }
        .btn-row{
            border-radius: 4px;
            padding-top: 40px;

        }
        .modal-title{
            text-align: center;
        }
        .dropdown-toggle::after {
            border: none !important;
            content: '\e842' !important;
            position: absolute;
        }
        .comments-div.comment-input{
            border-radius: 7px;
        }
        .fa-caret-right{
            font-size: 20px;
        }
        .caption_textarea{
            resize: none;
            overflow: auto;
            border: white;
        }
        .profile-avatar-small1 {
            border-radius: 100px;
            width: 29px;
            height: 28px;
            border: 2px solid red;
        }
        .html body p {
            line-height: 0.5rem;
        }



.connections-card img
{
    height: 180px;
    width: 100%;
    object-fit: cover;
}


.profile-head {
    transform: translateY(5rem)
}

.cover-profile {
    background-size: cover;
    background-repeat: no-repeat
}








.masonry-events { /* Masonry container */
    -webkit-column-count: 2;
  -moz-column-count:2;
  column-count: 2;
    padding: 0;
    font-size: .85em;
}




.masonry { /* Masonry container */
    -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
  -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.item img{max-width:100%; height: auto;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}




@media only screen and (max-width: 320px) {
    .masonry-events {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry-events {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry-events {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry-events {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}



.post-timeline-img
{
  border-radius: 7px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.post-timeline-video
{
  border-radius: 7px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.post-timeline-card-header
{
  padding: 6px 15px !important;
}

.post-timeline-card-header strong
{
  margin-top: 5px;
  line-height: 10px;
}



.group-avatar
{
  width: 80px;
  border-radius: 5px;
  height: 80px;
  object-fit: cover;
  padding: 5px;
  margin-right: 15px;
}



.jqueryHashtags .highlighter{
  white-space: pre-wrap;
  color:transparent;
  overflow: hidden;
  position: absolute;
  padding-left:7px;
  padding-top:5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:22px;
  line-height:25px;
}

.jqueryHashtags .theSelector{
  background-color: transparent;
  position: relative;
  direction: ltr;
  font-size:22px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  resize:none !important;
  -webkit-transition: height 0.2s;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  vertical-align:middle;
  min-height:48px !important;
  line-height:25px;
  border: none;
}

.jqueryHashtags .hashtag{
  background: #D1E4FC;
  border-radius: 2px;
  /*box-shadow: 0 0 0 1px #a3bcea;*/
  font-size:22px;
  white-space: pre-wrap;
  word-break: break-word;
  line-height:25px;
}


textarea
{
  resize: none;
}


.cursor-nothing
{
  cursor: not-allowed !important;
}

.cursor-pointer
{
  cursor: pointer !important;
}


.fa-ellipsis-v
{
  cursor: pointer !important;
}

.comment-input
{
  border-radius: 20px !important;
  margin-left: 10px !important;
  height: 40px !important;
}

.comments-show
{
  padding: 3px 5px;
  border-radius: 20px !important;
}

.account-sidebar-links i
{
  width: 30px;
}


.goto-back-section
{
  padding: 10px;
  background-color: rgba(138, 204, 110, 0.9);
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.fa-caret-right
{
  /*margin-top: 20px;*/
}


.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}






.media-popup
{
  cursor: pointer;
}

#modalMediaPopup img
{
  width: 100% !important;
}


#modalMediaPopup video
{
  width: 100% !important;
}

.main-video-post-div
{
  background-color: #000;
}
.post-timeline-video
{
  /*opacity: 0.3;*/
}

/*.main-video-post-div:after
{
    font-family: "Font Awesome 5 Free";  content: "\f144";
  position: absolute;
  font-size: 6vw;
  color: #fff;
 top: 45%;
  left: 49%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
  cursor: pointer;

}*/


.post-user-name
{
  font-size: 17px;
  color: #79C55A;
}



.event-input-form label
{
  text-transform: uppercase;
  font-weight: bold;
  color: #bbb;
  padding-bottom: 5px;
}

.event-input-form input,
.event-input-form select
{
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.event-input-desctiption-side
{
  margin-top: 22px;
  font-weight: 600;
  font-size: 18px;
  color: #aaa;

}


.events-buttons a
{
  padding: 8px;
  width: 40px;
  font-size: 20px;;
}




.img-container
{
  position: relative;
  background-color: #000;
  cursor: pointer;
  border-radius: 5px;
}

.img-container img
{
  opacity: 0.7;
  border-radius: 5px;
  width: 100%;
}

.bottom-left-text {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: #fff;
}

.top-right-text {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
}

.top-right-text a {
  background-color: #008AFC !important;
  color: #fff !important;
  padding: 4px 6px;
  font-weight: 600;

}



.bottom-left-text h2 {
  color: #fff;
  font-size: 27px;
  font-weight: 900;
}

.bottom-left-text span {
  color: #fff;
  background-color: #518154;
  font-size: 15px;
  padding: 5px;
  font-weight: 900;
  text-transform: uppercase;
}

.fc-daygrid-event-dot,
.fc-license-message
{
  display: none !important;
}


.fc-daygrid-day-number
{
  font-weight: bold;
  color: #bbb;
}




.event-status{
            background-color: #FFD8E5!important;
            border: #FFD8E5!important;
            height: 140px;
            margin-left: 6px;
        }
        .event-status .fc-event-main{
            border-left: 2px solid #F685AA;
        }


.fc-event-title
{
  cursor: pointer;
}










.report-float
{
  position:fixed;
  display:inline-block;
  width:50px;
  height:50px;
  line-height:50px;
  bottom:25px;
  right:25px;
  background-color:red;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:20px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.report-float *
{
  color: #fff;
}
#profile-info .social_back_btn
{
  position:fixed;
  display:inline-block;
  width:40px;
  height:25px;
  line-height:24px;
  top:87px;
  left:30px;
  background-color:black;
  color:#FFF;
  border-radius:0px;
  text-align:center;
  font-size:14px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
#profile-info .social_back_btn *
{
  color: #fff;
}

#modalReportUser textarea,
#modalReportUser textarea:focus
{
  width: 100%;
  font-size: 18px;
  min-height: 140px !important;
  max-height: 140px !important;
  overflow: auto;
  border: 0;
  color: #aaa;
  outline: 0;
}

#modalReportUser .form-control
{
  font-size: 18px !important;
  font-weight: 600;
}

.note-editor .note-toolbar, .note-popover .popover-content {
    margin: 0;
    padding: 0 0 5px 5px;
    background: currentColor !important;
}

.order-stats-link:hover
{
  background-color: lightblue;
  transition-duration: 0.3s;
}
.status-badge-order-blue
{
  background-color: lightblue;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 25px;
  border-radius: 4px;
}

.status-badge-order-cyan
{
  background-color: lightpink;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 25px;
  border-radius: 4px;
}

.status-badge-order-green
{
  background-color: lightgreen;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 25px;
  border-radius: 4px;
}
.status-badge-order-red
{
  background-color: lightgray;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 25px;
  border-radius: 4px;
}


.order-status-btns a
{
  font-size: 18px !important;
  font-weight: bold;
}

.disabled
{
  opacity: 0.5 !important;
}

.icon-check
{
  font-size: 30px !important;
  display: block;
}

.ads-heading
{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 4px 0px 10px 0px;
}
.ads-heading a
{
  color: #fff;
}
.carousel-item  img
{
       height: 400px;
        object-fit: cover;
        width: 100%;
        overflow: hidden;

}



.form-check-inline input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-check-inline label {
    position: relative;
    cursor: pointer;
}

.form-check-inline label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #cbc5c8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}


.form-check-inline input:checked + label:after {
    content: '';
    background-color: transparent !important;
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.pop-over-icon
{
  cursor: pointer;
  padding: 0px;
  height: 30px;;
}


.table__appointment_schecule td
{
  font-size: 16px;
}
.table__appointment_schecule th
{
  color: #70C153;
  font-size: 16px;
}

.badge-site
{
  background-color: #ccc;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}


.table__appointment_schecule .dropdown-toggle
{
  line-height: 38px;
  font-size: 22px;
}
.table__appointment_schecule a
{
  font-size: 16px;
  font-weight: 600;
}
.table__appointment_schecule .dropdown .dropdown-toggle
{
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.table__appointment_schecule .dropdown .btn-update-heading
{
  white-space: nowrap;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.modal_specific_date
{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.time__slots .icon-trash
{
  font-size: 16px;
  padding: 10px;
}

.btn-remove-slot
{
  padding: 5px;
}
.btn-add-slot
{
  background-color: #28C76F;
  color: #fff !important;
  padding: 5px;
  /*text-transform: capitalize;*/
  font-weight: bold;
  font-size: 13px;
}
.profile-badges{
  border-radius: 5px;
  padding: 1px;
}
.v-box1 > div.articals {
    background-color: #d7ba9d;
}

.v-box1 > div.events {
    background-color: rgb(173 190 234);
}
.v-box1 > div.attend_events
{
    background-color:#b1d09d;
}



.v-box1 {
    display: flex;
    height: 65px;
    justify-content: space-between;
    line-height: 13px;
}

.v-box1 > div.item {
    background-color: #FDDCD3;
}
.v-box1 > div {
    width: calc(1/3 * 100% - 10px);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.bg-calendar-activity
{
  background-color: #558A83;
  color: #fff;
}


.bg-calendar-activity *
{
  color: #fff;
}


.bg-calendar-view
{
  background-color: #404D61;
}



.btn-invite-group,
.btn-invite-group:hover
{
 background-color: #1877F2;
 color: #fff;
 border-radius: 2px;
 padding: 8px 10px;
 border: 0;
 font-size: 18px;
 margin-left: 10px;
 font-weight: 600;
}

.res-card-row .card .post-actions a {
    font-weight: 500;
    font-size: 11px;
}

/* .social-badges
{
    padding-left: 1rem;
}

@media only screen and (max-width: 991px) {
    .social-badges
    {
        padding-left: 1.3rem;
    }
} */


.vh-100 {
    min-height: 100vh;
}


.social-badges .item
{
    width: 70px !important;
    height: 67px !important;
    font-size: 10px;
    margin: 0px 8px;
}



.social-badges img
{
    height: 65px;
    max-width: 70px !important;
}











#left {
    position: fixed;
    top: 92px;
    bottom: 0;
    z-index: 99;
    overflow: auto;
    left: 15px;
    padding-right: 0;
}

.photo-album::-webkit-scrollbar,
#left::-webkit-scrollbar
{ /* WebKit */
    width: 0;
    height: 0;
}

#center {
    /* position: relative; */
    /* top: 20%; */
    top: 0px !important;
    /* padding-top: 0px !important; */
    left: 25%;
    overflow: auto;
}
.photo-album
{
    /* margin-left: -18px; */
    position: fixed;
    top: 92px;
    bottom: 0;
    z-index: 99;
    overflow: auto;
    right: -34px;
    padding: 0px 34px;
}
.photo-album .media-popup
{
    width: 100%;
}
.photo-album .card
{
    margin-right: 25px;
}


@media only screen and (max-width: 991px) {
    #left {
        position: relative;
        top: 14%;
        bottom: 0;
        z-index: 99;
        overflow: auto;
        left: -6px;
    }

    #left::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    #center {
        position: relative;
        top: 15%;
        bottom: 0;
        left: 0%;
        overflow: auto;
        z-index: 9;
    }
    .photo-album
    {
        display: none;
    }

}

.btn-social-dark,
.btn-social-dark:hover
{
    background-color: #000;
    color: #fff !important;
    border-radius: 3px;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
